
.list-group-item {
  label {
    font-weight: normal;
  }

  a {
    display: block;
    
    &.inline {
      display: inline-block;
    }
  }
}
.msrp {
  text-decoration: line-through;
}
.thumbnail {
  height: 290px;
  &.detail {
    height: auto;
  }
  a.title {
    color: #333;
  }
}
 .caption p {
  margin-bottom: 0px;
 }
 .thumbnail h4{
  margin-bottom: 5px;
 }

 .thumbnail a img {
  height: 190px;
  width: 255px;
 }

.media {
  &.shopping-cart-row {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0;
    }
  }
}
a.add-to-cart-btn {
  i {
    display: none;
  }
}
a:hover {text-decoration: none;}
